:root {
    --on: #04c90b;
    --off: #a80000;
    --active: #0059df;
    --inactive: #05142d;
    --background: #9F9FA1;
    --text-light: #F0F1F3;
    --text-dark: #5D5A5A;
    --light-accent: #8A8A87;
    --dark-accent: #7D7A7A;
}

body {
    background-color: var(--background);
}

table.channel-table {
    width: 100%;
}

th.channel-group-header {
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin: auto;
}

button.channel-group-collapse {
    height: 30px;
    width: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10;
    border-style: solid;
    border-color: var(--dark-accent);
}

tr.channel-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

td.channel-cell {
    margin: 2px
}

button.channel-button {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
    width: 120px;
}

div.channel-button-indicator {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--off);
    height: 10px;
    width: 30px;
}

div.channel-button-activity {
    height: 15px;
    width: 15px;
    background-color: var(--inactive);
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin: auto;
    margin-top: 0px;
}

div.channel-button-title {
    margin: auto;
}

div.channel-button-title {
    font-weight: 700;
}