:root {
    --on: #04c90b;
    --off: #a80000;
    --active: #0059df;
    --inactive: #05142d;
    --background: #9F9FA1;
    --text-light: #F0F1F3;
    --text-dark: #5D5A5A;
    --light-accent: #8A8A87;
    --dark-accent: #7D7A7A;
    --collapse-min: 0px;
    --collapse-mid: 8px solid transparent;
    --collapse-max: 12px solid var(--dark-accent);
}

div.title-bar {
    background-color: var(--text-light);
    border-style: solid;
    border-width: 2;
    border-color: black;
    height: 96px;
    margin: 8px;
    display: flex;
    justify-content: center;
}

div.title-spacer {
    width: 33%;
}

div.title-block {
    width: 33%;
    display: flex;
    justify-content: center;
    margin: auto;
}

span.title {
    font-size: 48px;
    font-weight: bold;
}

div.refresh-widget {
    width: 33%;
    display: flex;
    justify-content: right;
}

label.refresh-widget-label {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 4px;
}

select.refresh-interval {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 16px;
}

body {
    background-color: var(--background);
    margin: auto;
}

table.channel-table {
    margin: auto;
    width: 100%;
}

th.channel-group-header {
    display: flex;
    justify-content: center;
    background-color: var(--text-light);
    margin: 16px;
    font-size: 32px;
    border-style: solid;
    border-width: 2px;
}

button.channel-group-disable {
    height: 24px;
    width: 24px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-style: solid;
    border-color: black;
    background-color: var(--off);
}

button.channel-group-collapse {
    height: 28px;
    width: 28px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-style: solid;
    border-color: var(--dark-accent);
}

div.channel-group-collapse-arrow {
    border: var(--collapse-mid);
    border-bottom: var(--collapse-min);
    border-top: var(--collapse-max);
    margin: auto;
}

tr.channel-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

td.channel-cell {
    margin: 2px
}

button.channel-button {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: var(--text-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
    width: 120px;
}

div.channel-button-indicator {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--off);
    height: 10px;
    width: 30px;
}

div.channel-button-activity {
    height: 15px;
    width: 15px;
    background-color: var(--inactive);
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin: auto;
    margin-top: 0px;
}

div.channel-button-title {
    margin: auto;
}

div.channel-button-title {
    font-weight: 700;
}